// Приклад для CSS
// Нижче добавляємо свої класи

.contacts {
  width: 500px;
  height: 50px;
  background-color: palegreen;
  border: 1px solid black;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}