.wrapper-swiper-sections {
  border: 1px solid black;
  height: 1090px;
  background-image: url(../../images/mobile/background-mobile/Backgroud_mobile-min.jpg);
  background-position: center;
  background-size: cover;
  background: linear-gradient(to bottom, #84A178 36px, transparent 36px);
}

.gallery {
  margin-bottom: 85px;
}

@media (max-width: 479px) and (min-device-pixel-ratio: 2),
(min-width: 479px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 479px) and (min-resolution: 2x),
(min-width: 479px) and (min-resolution: 192dpi) {
  .wrapper-swiper-sections {
    background-image: url(../../images/mobile/background-mobile/Backgroud_mobile@2x-min.jpg);
  }
}
@media screen and (min-width:480) {
  .wrapper-swiper-sections {
    height: 1157px;
    background: linear-gradient(to bottom, #84A178 50px, transparent 50px);
  }

  .gallery {
    margin-bottom: 80px;
  }
}


@media screen and (min-width: 768px) {
  .wrapper-swiper-sections {
    height: 1161px;
    background-image: url(../../images/tablet/background-tablet/Background_tablet-min.jpg);
    background: linear-gradient(to bottom, #84A178 144px, transparent 144px);
  }

  .gallery {
    margin-bottom: 100px
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2),
(min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 768px) and (min-resolution: 2x),
(min-width: 768px) and (min-resolution: 192dpi) {
  .wrapper-swiper-sections {
    background-image: url(../../images/tablet/background-tablet/Background_tablet@2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .wrapper-swiper-sections {
    height: 1151px;
    background-image: url(../../images/desktop/background-desctop/Backgroud_desktop-min.jpg);
    background: linear-gradient(to bottom, #84A178 100px, transparent 100px);
  }

  .gallery {
    margin-bottom: 140px;
  }
}

@media (min-width: 1200px) and (min-device-pixel-ratio: 2),
(min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1200px) and (min-resolution: 2x),
(min-width: 1200px) and (min-resolution: 192dpi) {
  .wrapper-swiper-sections {
    background-image: url(../../images/desktop/background-desctop/Backgroud_desktop@2x-min.jpg);
  }
}