.hero {
  display: block;
  width: auto;
  background-color: #84a178;
  height: 453px;
  padding-top: 40px;
}
.hero-wraper {
  height: 413px;
  position: relative;
}
.hero_right-block {
  display: none;
}
.hero-title {
  width: 247px;
  height: 97px;
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 32px;
  margin-right: 0;
}
.hero-title-upper {
  font-size: 34px;
  line-height: 96.5%;
}
.hero_button-products {
  background-color: transparent;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #000000;
  padding: 11px 26px;
  margin-right: 12px;
}
.hero_button-about {
  background-color: transparent;
  border: none;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  text-decoration-line: underline;
  color: #f8d24e;
}

.hero_button-about:hover {
  color: #0a8817;
}
.hero_button-about:focus {
  color: #fcfcfc;
}

.hero_button-products:hover,
.hero_button-products:focus {
  border-color: #0a8817;
}

.hero_text-block {
  display: none;
}

.many-ice-cream {
  display: none;
}

.hero_main-img {
  position: absolute;
  width: 177px;
  bottom: 0;
  left: 70px;
}
.hero_dots-img {
  position: absolute;
  width: 320px;
  bottom: 0;
  left: -14px;
}
@media screen and (min-width: 480px) {
  .hero {
    height: 415px;
  }
  .hero-wraper {
    height: 375px;
    width: 100%;
  }
  .hero-title {
    margin-bottom: 24px;
  }
  .hero_main-img {
    width: 218px;
    left: auto;
    right: 20px;
  }
  .hero_dots-img {
    width: 330px;
    left: auto;
    right: -15;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 349px;
    padding-top: 14px;
  }
  .hero-wraper {
    height: 335px;
    display: flex;
    justify-content: space-between;
  }

  .hero_right-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  .cafe-counter,
  .ftracks-counter {
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 4px;
  }
  .hero_cafe-counter,
  .hero_ftracks-counter {
    font-size: 8px;
    line-height: 1.25;
    color: #fcfcfc;
  }
  .hero_cafe-counter {
    margin-bottom: 20px;
    padding-top: 14px;
  }
  .hero_text-block {
    display: block;
    position: absolute;
    left: 187px;
    bottom: 24px;
  }
  .hero-text {
    width: 139px;
    height: 85px;
    font-size: 12px;
    line-height: 1.41;
    color: #fcfcfc;
    margin-bottom: 12px;
  }
  .hero_text-link > svg {
    fill: #fcfcfc;
  }

  .many-ice-cream {
    display: block;
    position: absolute;
    width: 152px;
    bottom: 18px;
    left: 0;
    z-index: 1000;
  }

  .hero_main-img {
    width: 268px;
    left: auto;
    right: 75px;
  }
  .hero_dots-img {
    width: 768px;
    left: auto;
    right: -15;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 591px;
    padding-top: 45px;
  }
  .hero-wraper {
    height: 546px;
  }
  .hero-title {
    width: 367px;
    height: 144px;
    font-size: 38px;
    margin-bottom: 28px;
  }
  .hero-title-upper {
    font-size: 38px;
    line-height: 1.27;
  }

  .hero_text-block {
    left: 245px;
    bottom: 95px;
  }
  .hero-text {
    font-size: 14px;
    margin-bottom: 24px;
    width: 200px;
    height: 80px;
  }
  .many-ice-cream {
    width: 225px;
    bottom: 65px;
  }
  .hero_main-img {
    width: 456px;
    left: auto;
    right: 75px;
  }
  .hero_dots-img {
    width: 1200px;
    left: auto;
    right: -15;
  }
}
