// background
@media (min-width: 480px) {
  .products {
    background-image: url("../../images/mobile/background-mobile/Backgroud_mobile-min.jpg");
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products {
      background-image: url("../../images/mobile/background-mobile/Backgroud_mobile@2x-min.jpg");
    }
  }
}

@media (max-width: 480px) {
  .products {
    background-image: url("../../images/mobile/background-mobile/Backgroud_mobile-min.jpg");
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products {
      background-image: url("../../images/mobile/background-mobile/Backgroud_mobile@2x-min.jpg");
    }
  }
}
@media (min-width: 768px) {
  .products {
    background-image: url('../../images/tablet/background-tablet/Background_tablet-min.jpg');
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products {
      background-image: url('../../images/tablet/background-tablet/Background_tablet@2x-min.jpg');
    }
  }
}

@media (min-width: 1200px) {
  .products {
    background-image: url('../../images/desktop/background-desctop/Backgroud_desktop-min.jpg');
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products {
      background-image: url('../../images/desktop/background-desctop/Backgroud_desktop@2x-min.jpg');
    }
  }
}

// card picture
@media (max-width: 480px) {
  .products-green::before {
    background-image: url("../../images/buy-now-modal-produkt-card/kelsey-curtis-min.png");
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products-green::before {
      background-image: url("../../images/buy-now-modal-produkt-card/kelsey-curtis@2x-min.png");
    }
  }
}

@media (max-width: 480px) {
  .products-yellow::before {
    background-image: url("../../images/buy-now-modal-produkt-card/pariwat-pannium-min.png");
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products-yellow::before {
      background-image: url("../../images/buy-now-modal-produkt-card/pariwat-pannium@2x-min.png");
    }
  }
}

@media (max-width: 480px) {
  .products-orange::before {
    background-image: url("../../images/buy-now-modal-produkt-card/victor-rutka-min.png");
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products-orange::before {
      background-image: url("../../images/buy-now-modal-produkt-card/victor-rutka@2x-min.png");
    }
  }
}


@media (min-width: 480px) {
  .products-green::before {
    background-image: url("../../images/buy-now-modal-produkt-card/kelsey-curtis-min.png");
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products-green::before {
      background-image: url("../../images/buy-now-modal-produkt-card/kelsey-curtis@2x-min.png");
    }
  }
}

@media (min-width: 480px) {
  .products-yellow::before {
    background-image: url("../../images/buy-now-modal-produkt-card/pariwat-pannium-min.png");
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products-yellow::before {
      background-image: url("../../images/buy-now-modal-produkt-card/pariwat-pannium@2x-min.png");
    }
  }
}

@media (min-width: 480px) {
  .products-orange::before {
    background-image: url("../../images/buy-now-modal-produkt-card/victor-rutka-min.png");
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products-orange::before {
      background-image: url("../../images/buy-now-modal-produkt-card/victor-rutka@2x-min.png");
    }
  }
}





@media (min-width: 768px) {
  .products-green::before {
    background-image: url("../../images/tablet/Products/kelsey-curtis-tab-min.png");
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products-green::before {
      background-image: url("../../images/tablet/Products/kelsey-curtis-tab@2x-min.png");
    }
  }
}

@media (min-width: 768px) {
  .products-yellow::before {
    background-image: url("../../images/tablet/Products/pariwat-pannium-tab-min.png");
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products-yellow::before {
      background-image: url("../../images/tablet/Products/pariwat-pannium-tab@2x-min.png");
    }
  }
}

@media (min-width: 768px) {
  .products-orange::before {
    background-image: url("../../images/tablet/Products/victor-rutka-tab-min.png");
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products-orange::before {
      background-image: url("../../images/tablet/Products/victor-rutka-tab@2x-min.png");
    }
  }
}

@media (min-width: 1200px) {
  .products-green::before {
    background-image: url("../../images/desktop/Products/kelsey-curtis-desk-min.png");
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products-green::before {
      background-image: url("../../images/desktop/Products/kelsey-curtis-desk@2x-min.png");
    }
  }
}

@media (min-width: 1200px) {
  .products-yellow::before {
    background-image: url("../../images/desktop/Products/pariwat-pannium-desk-min.png");
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products-yellow::before {
      background-image: url("../../images/desktop/Products/pariwat-pannium-desk@2x-min.png");
    }
  }
}

@media (min-width: 1200px) {
  .products-orange::before {
    background-image: url("../../images/desktop/Products/victor-rutka-desk-min.png");
  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
    .products-orange::before {
      background-image: url("../../images/desktop/Products/victor-rutka-desk@2x-min.png");
    }
  }
}


.products-wraper-lab {
  font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    
}

.products-wraper-titl {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 145px;
  min-width: 270px;
}
  

.products-card-titl {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.products-card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 40px;
}


@media (min-width: 768px) {
  .products-wraper-lab {
    font-size: 22px;
  }

  .products-wraper-titl {
    font-size: 34px;
    line-height: 1.26;
    margin-bottom: 200px;
  }

  .products-card-titl {
    font-size: 22px;
  }

}

@media (min-width: 1200px) {
  .products-wraper-lab {
    font-size: 30px;
    letter-spacing: 0.04em;
  }

  .products-wraper-titl {
    font-size: 36px;
    letter-spacing: 0.06em;
    margin-bottom: 303px;
  }

  .products-card-titl {
    font-size: 30px;

  }

  .products-card-text {
    font-size: 16px;

  }
}
.products {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.products-wraper{
  padding: 0 20px ;
}
.products-section {
  padding: 60px 0;
  width: 100%;
}
.products-inner{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.products-btm {
  position: absolute;
  cursor: pointer;
  bottom: 24px;
  left: calc((100% /2) - 20px);
  display: block;
   
    border: none;
    background-color: transparent;
}
.products-btm:hover,
.products-btm:focus{
  fill: var(--color-button-green)
}


.products-card-yellow,
.products-card-orange {
  position: relative;
  max-width: 280px;
  width: 100%;
  padding: 123px 40px 24px;
  border-radius: 24px;

}
.products-card-green {
  position: relative;
  max-width: 280px;
  width: 100%;
  padding: 123px 40px 133px;
  border-radius: 24px;

}
.products-card-green {
  background-color: var(--color-light-salt);
  margin-bottom: 168px;
}

.products-card-yellow {
  background-color: var(--color-yellow);
  margin-bottom: 168px;
}

.products-card-orange {
  background-color: var(--color-brown);
}

.products-green::before,
.products-yellow::before,
.products-orange::before {
  content: "";
  width: 200px;
  height: 211px;
  top: 0px;
  left: 0px;
  transform: translate(20%, -50%);
  position: absolute;
  background-size: cover;
  background-position: center;
}
 @media (min-width: 365px){
  .products-green::before,
    .products-yellow::before,
    .products-orange::before {
      content: "";
      transform: translate(20%, -50%);
    }
 }

@media (min-width: 480px){
  .products-section {
      padding: 60px 0px;
    }
  .products-wraper {
    padding: 0 80px;
  }
.products-card-yellow,
.products-card-orange {
  position: relative;
  max-width: 320px;
  width: 100%;

  padding: 123px 60px 24px;
  border-radius: 24px;

}

.products-card-green {
  position: relative;
  max-width: 320px;
  width: 100%;
  padding: 126px 60px 24px;
  border-radius: 24px;
}

.products-card-green {
  background-color: var(--color-light-salt);
  margin-bottom: 168px;

}

.products-card-yellow {
  background-color: var(--color-yellow);
  margin-bottom: 168px;

}

.products-card-orange {
  background-color: var(--color-brown);

}
.products-btm{
  left: calc((100% /2) - 20px);
}

.products-green::before,
.products-yellow::before,
.products-orange::before {
  content: "";
  transform: translate(12%, -50%);
  }
}
 
 @media (min-width: 624px) {

   .products-green::before,
   .products-yellow::before,
   .products-orange::before {
     content: "";
     transform: translate(28%, -50%);
   }
 }

@media (min-width: 768px) {
  .products-section {
    padding: 60px 0;
  }

  .products-inner {
    display: flex;
   flex-direction: row;
    gap: 16px;
    justify-content: space-between;
   
  }

  .products-card-green,
  .products-card-yellow,
  .products-card-orange {
    max-width: 224px;
    width: 100%;
    padding: 108px 26px 20px;
    margin-bottom: 0;
  }

  .products-green::before,
  .products-yellow::before,
  .products-orange::before {

    transform: translate(5%, -50%);
  }

  .products-btm {
    bottom: 20px;
    left: calc((100% /2) - 20px);
  }
}

@media (min-width:1200px) {
  .products{
    background-repeat: repeat;
  }
  .products-btm {
    bottom: 67px;
    left: calc((100% /2) - 20px);
  }

  .products-card-yellow,
  .products-card-orange {
    max-width: 370px;
    width: 100%;
    padding: 165px 64px 67px;
  }

  .products-card-green {
    max-width: 370px;
    width: 100%;
    padding: 165px 63px 67px 61px;
  }

  .products-green::before,
  .products-yellow::before,
  .products-orange::before {
    display: block;
    width: 302px;
    height: 318px;
    top: 0;
    left: 0;
    transform: translate(7%, -50%);
  }
}