.reviews {
  width: 480px;  
  background-image: url(../../../images/mobile/background-mobile/Backgroud_mobile-min.jpg);  
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  
}
.swiper-slide {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  text-align: center;
}g
.img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 32px;
}
.reviews-text {
  width: 280px;
  height: 256px;
  padding: 40px 35px 40px 35px;
  background: #84A178;
  border-radius: 10px;
}
.reviews-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  text-align: center;
  color: #131313;
}


