.reviews-hidden {
  visibility: hidden;
}
.swiper-slide {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  display: flex;
  background: transparent;
}
.reviews-swiper-slide {
  display: block;
  margin-left: auto;
  margin-right: auto;    
}
.reviews-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 32px;
}
.reviews-text {  
  margin: 0 auto 32px auto;
  background: #84A178;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: #FCFCFC;  
}
.reviews-name {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  text-align: center;
  color: #131313;  
}
@media screen and (max-width: 767px) {
  .reviews-text {
    width: 280px;
    height: 256px;
    padding: 35px 40px 35px 40px;   
  }
  .reviews-name {
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 768px) {
  .reviews-text {
    width: 705px;
    height: 138px;
    padding: 28px 80px 28px 80px;   
  }
  .reviews-name {
    margin-bottom: 54px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews-text {
    width: 968px;
    height: 138px;
    padding: 43px 109px 43px 109px;
  }
  .reviews-name {
    margin-bottom: 54px;
  }
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: center;
  opacity: 1;
  background: #d9d9d9;
  margin-bottom: 34px;
}
.swiper-pagination-bullet-active {
  background: #84A178;
}


