@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css'; /* Базові стилі (загальні для всіх) */
:root {
  --color-salt: #84a178;
  --color-light-salt: #aec6a5;
  --color-yellow: #efd478;
  --color-brown: #d6936d;
  --color-sand: rgba(248, 210, 78, 0.1);
  --color-button-green: #0a8817;
  --color-button-yellow: #f8d24e;
  --color-button-gray: #ababab;
  --color-text-dark: #131313;
  --color-text-white: #fcfcfc;
  --transition-rule: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-rule-modal: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1.62;
  color: var(--color-text-dark);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: var(--color-slate);
  cursor: url(../../images/Cursor-min.png), progress;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    max-width: 100%;
  }
}
.header {
  width: 500px;
  height: 50px;
  background-color: powderblue;
  border: 1px solid black;
}

.hero {
  display: block;
  width: auto;
  background-color: #84a178;
  height: 453px;
  padding-top: 40px;
}

.hero-wraper {
  height: 413px;
  position: relative;
}

.hero_right-block {
  display: none;
}

.hero-title {
  width: 247px;
  height: 97px;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 32px;
  margin-right: 0;
}

.hero-title-upper {
  font-size: 34px;
  line-height: 96.5%;
}

.hero_button-products {
  background-color: transparent;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #000000;
  padding: 11px 26px;
  margin-right: 12px;
}

.hero_button-about {
  background-color: transparent;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #f8d24e;
}

.hero_button-about:hover {
  color: #0a8817;
}

.hero_button-about:focus {
  color: #fcfcfc;
}

.hero_button-products:hover,
.hero_button-products:focus {
  border-color: #0a8817;
}

.hero_text-block {
  display: none;
}

.many-ice-cream {
  display: none;
}

.hero_main-img {
  position: absolute;
  width: 177px;
  bottom: 0;
  left: 70px;
}

.hero_dots-img {
  position: absolute;
  width: 320px;
  bottom: 0;
  left: -14px;
}

@media screen and (min-width: 480px) {
  .hero {
    height: 415px;
  }
  .hero-wraper {
    height: 375px;
    width: 100%;
  }
  .hero-title {
    margin-bottom: 24px;
  }
  .hero_main-img {
    width: 218px;
    left: auto;
    right: 20px;
  }
  .hero_dots-img {
    width: 330px;
    left: auto;
    right: -15;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 349px;
    padding-top: 14px;
  }
  .hero-wraper {
    height: 335px;
    display: flex;
    justify-content: space-between;
  }
  .hero_right-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  .cafe-counter,
.ftracks-counter {
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 4px;
  }
  .hero_cafe-counter,
.hero_ftracks-counter {
    font-size: 8px;
    line-height: 1.25;
    color: #fcfcfc;
  }
  .hero_cafe-counter {
    margin-bottom: 20px;
    padding-top: 14px;
  }
  .hero_text-block {
    display: block;
    position: absolute;
    left: 187px;
    bottom: 24px;
  }
  .hero-text {
    width: 139px;
    height: 85px;
    font-size: 12px;
    line-height: 1.41;
    color: #fcfcfc;
    margin-bottom: 12px;
  }
  .hero_text-link > svg {
    fill: #fcfcfc;
  }
  .many-ice-cream {
    display: block;
    position: absolute;
    width: 152px;
    bottom: 18px;
    left: 0;
    z-index: 1000;
  }
  .hero_main-img {
    width: 268px;
    left: auto;
    right: 75px;
  }
  .hero_dots-img {
    width: 768px;
    left: auto;
    right: -15;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 591px;
    padding-top: 45px;
  }
  .hero-wraper {
    height: 546px;
  }
  .hero-title {
    width: 367px;
    height: 144px;
    font-size: 38px;
    margin-bottom: 28px;
  }
  .hero-title-upper {
    font-size: 38px;
    line-height: 1.27;
  }
  .hero_text-block {
    left: 245px;
    bottom: 95px;
  }
  .hero-text {
    font-size: 14px;
    margin-bottom: 24px;
    width: 200px;
    height: 80px;
  }
  .many-ice-cream {
    width: 225px;
    bottom: 65px;
  }
  .hero_main-img {
    width: 456px;
    left: auto;
    right: 75px;
  }
  .hero_dots-img {
    width: 1200px;
    left: auto;
    right: -15;
  }
}
.products-wraper-lab {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.products-wraper-titl {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 145px;
}

.products-card-titl {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.products-card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 114px;
}

@media (min-width: 768px) {
  .products-wraper-lab {
    font-size: 22px;
  }
  .products-wraper-titl {
    font-size: 34px;
    line-height: 1.26;
  }
  .products-card-titl {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .products-wraper-lab {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
  .products-wraper-titl {
    font-size: 36px;
    letter-spacing: 0.06em;
  }
  .products-card-titl {
    font-size: 30px;
  }
  .products-card-text {
    font-size: 16px;
  }
}
button {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.products-btm {
  width: 40px;
  height: 1px;
  cursor: pointer;
}

.products-wraper {
  background-image: url("../images/mobile/background-mobile/Backgroud_mobile-min.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 80px;
}

.products-inner {
  display: block;
}

.products-card-yellow,
.products-card-orange {
  position: relative;
  max-width: 320px;
  width: 100%;
  padding: 123px 60px 24px;
  border-radius: 24px;
}

.products-card-green {
  position: relative;
  max-width: 320px;
  width: 100%;
  padding: 126px 60px 24px;
  border-radius: 24px;
}

.products-card-green {
  background-color: var(--color-light-salt);
  margin-bottom: 168px;
}

.products-card-yellow {
  background-color: var(--color-yellow);
  margin-bottom: 168px;
}

.products-card-orange {
  background-color: var(--color-brown);
}

.products-green::before,
.products-yellow::before,
.products-orange::before {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  position: absolute;
  background-size: cover;
  background-position: center;
  transform: translate(50%, -50%);
  border-radius: 50%;
}

.products-green::before {
  background-image: url("../images/buy-now-modal-produkt-card/kelsey-curtis-min.png");
  /* background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9; */
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.products-yellow::before {
  background-image: url("../images/buy-now-modal-produkt-card/pariwat-pannium-min.png");
  /* background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9; */
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.products-orange::before {
  background-image: url("../images/buy-now-modal-produkt-card/victor-rutka@2x-min.png");
  /* background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9; */
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .products-wraper {
    background-image: url("../images/tablet/background-tablet/Background_tablet-min.jpg");
    padding: 60px 0;
  }
  .products-inner {
    display: flex;
    gap: 16px;
  }
  .products-card-green,
.products-card-yellow,
.products-card-orange {
    max-width: 224px;
    width: 100%;
    padding: 108px 26px 20px;
    margin-bottom: 0;
  }
  .products-green::before,
.products-yellow::before,
.products-orange::before {
    transform: translate(10%, -50%);
  }
  .products-green::before {
    background-image: url("../images/tablet/Products/kelsey-curtis-tab-min.png");
  }
  .products-yellow::before {
    background-image: url("../images/tablet/Products/pariwat-pannium-tab-min.png");
  }
  .products-orange::before {
    background-image: url("../images/tablet/Products/victor-rutka-tab-min.png");
  }
}
@media (min-width: 1200px) {
  .products-wraper {
    background-image: url("../images/desktop/background-desctop/Backgroud_desktop-min.jpg");
  }
  .products-card-yellow,
.products-card-orange {
    max-width: 370px;
    width: 100%;
    padding: 165px 64px 67px;
  }
  .products-card-green {
    max-width: 370px;
    width: 100%;
    padding: 165px 63px 67px 61px;
  }
  .products-green::before,
.products-yellow::before,
.products-orange::before {
    display: block;
    width: 302px;
    height: 302px;
  }
  .products-green::before {
    background-image: url("../images/desktop/Products/kelsey-curtis-desk-min.png");
  }
  .products-yellow::before {
    background-image: url("../images/desktop/Products/pariwat-pannium-desk-min.png");
  }
  .products-orange::before {
    background-image: url("../images/desktop/Products/victor-rutka-desk-min.png");
  }
}
.about {
  width: 500px;
  height: 50px;
  background-color: tomato;
  border: 1px solid black;
}

.container {
  background: linear-gradient(to bottom, #84A178 36px, transparent 36px);
}

.gallery {
  border: 1px solid black;
  height: 1090px;
  background-image: url(../../images/mobile/background-mobile/Backgroud_mobile-min.jpg);
}

@media screen and (min-width: 480) {
  .gallery {
    height: 1160px;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    background-image: url(../../images/tablet/background-tablet/Background_tablet-min.jpg);
    height: 1151px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    background-image: url(../../images/desktop/background-desctop/Backgroud_desktop-min.jpg);
  }
}
.contacts {
  position: relative;
  background-color: var(--color-salt);
}

.contacts-items {
  padding-top: 40px;
  padding-bottom: 24px;
  position: absolute;
  background-color: var(--color-text-white);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.city,
.adress-cafe .day,
.time,
.phone,
.mail {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--color-text-dark);
}

.adress-cafe {
  color: var(--color-brown);
}

.day,
.phone,
.mail {
  color: var(--color-text-dark);
}

.time {
  color: var(--color-button-gray);
}

@media screen and (min-width: 320px) {
  .contacts-items {
    width: 280px;
    height: 412px;
    top: -353px;
    padding-left: 32px;
  }
  .category {
    min-width: 80px;
    height: 22px;
    margin-bottom: 20px;
    background-color: var(--color-button-yellow);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--color-text-dark);
  }
}
@media screen and (min-width: 480px) {
  .contacts-items {
    top: -349px;
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .contacts-items {
    flex-basis: calc((100% - 32px) / 3);
    min-width: 224px;
    height: 537px;
  }
}
@media screen and (min-width: 768px) {
  .category {
    min-width: 73px;
    height: 30px;
    margin-bottom: 32px;
    line-height: 1.4;
    border-radius: 6px;
  }
  .contacts-items {
    padding-bottom: 40px;
    padding-left: 24px;
    top: -299px;
  }
  .city,
.adress-cafe .day,
.time,
.phone,
.mail {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contacts-items {
    flex-basis: calc((100% - 64px) / 3);
    width: 368px;
    height: 542px;
    top: -128px;
    padding-left: 40px;
    background: #FFFFFF;
  }
  .city,
.adress-cafe,
.day,
.time,
.phone,
.mail {
    font-size: 16px;
  }
}
.footer {
  width: 500px;
  height: 50px;
  margin-bottom: 30px;
  background-color: bisque;
  border: 1px solid black;
}

/* Стандартні класи слайдера */
/* Оформлення можна змінювати */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-swiper {
  width: 280px;
  height: 130px;
  border-radius: 8px;
}

@media screen and (min-width: 480px) {
  .gallery-swiper {
    width: 440px;
    height: 204px;
  }
}
@media screen and (min-width: 768px) {
  .gallery-swiper {
    width: 704px;
    height: 327px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-swiper {
    width: 1013px;
    height: 422px;
  }
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  scale: 1.1;
  pointer-events: none;
}

.modal-product-card {
  width: 500px;
  height: 50px;
  background-color: coral;
  border: 1px solid black;
}

.modal-ingredients {
  width: 500px;
  height: 50px;
  background-color: gainsboro;
  border: 1px solid black;
}

.modal-read-more {
  width: 500px;
  height: 50px;
  background-color: gold;
  border: 1px solid black;
}

.modal-location {
  width: 500px;
  height: 50px;
  background-color: darkturquoise;
  border: 1px solid black;
}

.modal-franchise {
  width: 500px;
  height: 100px;
  background-color: antiquewhite;
}/*# sourceMappingURL=index.css.map */