@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css'; /* Базові стилі (загальні для всіх) */
:root {
  --color-salt: #84a178;
  --color-light-salt: #aec6a5;
  --color-yellow: #efd478;
  --color-brown: #d6936d;
  --color-sand: rgba(248, 210, 78, 0.1);
  --color-button-green: #0a8817;
  --color-button-yellow: #f8d24e;
  --color-button-gray: #ababab;
  --color-text-dark: #131313;
  --color-text-white: #fcfcfc;
  --transition-rule: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-rule-modal: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1.62;
  color: var(--color-text-dark);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: var(--color-slate);
  cursor: url(../../images/Cursor-min.png), progress;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    max-width: 100%;
    padding: 0 32px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    max-width: 100%;
    padding: 0 16px;
  }
}
.page-header {
  width: 500px;
  height: 50px;
  background-color: powderblue;
  border: 1px solid black;
}

.hero {
  display: block;
  width: auto;
  background-color: #84a178;
  height: 453px;
  padding-top: 40px;
}

.hero-wraper {
  height: 413px;
  position: relative;
}

.hero_right-block {
  display: none;
}

.hero-title {
  width: 247px;
  height: 97px;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 32px;
  margin-right: 0;
}

.hero-title-upper {
  font-size: 34px;
  line-height: 96.5%;
}

.hero_button-products {
  background-color: transparent;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #000000;
  padding: 11px 26px;
  margin-right: 12px;
}

.hero_button-about {
  background-color: transparent;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #f8d24e;
}

.hero_button-about:hover {
  color: #0a8817;
}

.hero_button-about:focus {
  color: #fcfcfc;
}

.hero_button-products:hover,
.hero_button-products:focus {
  border-color: #0a8817;
}

.hero_text-block {
  display: none;
}

.many-ice-cream {
  display: none;
}

.hero_main-img {
  position: absolute;
  width: 177px;
  bottom: 0;
  left: 70px;
}

.hero_dots-img {
  position: absolute;
  width: 320px;
  bottom: 0;
  left: -14px;
}

@media screen and (min-width: 480px) {
  .hero {
    height: 415px;
  }
  .hero-wraper {
    height: 375px;
    width: 100%;
  }
  .hero-title {
    margin-bottom: 24px;
  }
  .hero_main-img {
    width: 218px;
    left: auto;
    right: 20px;
  }
  .hero_dots-img {
    width: 330px;
    left: auto;
    right: -15;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 349px;
    padding-top: 14px;
  }
  .hero-wraper {
    height: 335px;
    display: flex;
    justify-content: space-between;
  }
  .hero_right-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  .cafe-counter,
.ftracks-counter {
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 4px;
  }
  .hero_cafe-counter,
.hero_ftracks-counter {
    font-size: 8px;
    line-height: 1.25;
    color: #fcfcfc;
  }
  .hero_cafe-counter {
    margin-bottom: 20px;
    padding-top: 14px;
  }
  .hero_text-block {
    display: block;
    position: absolute;
    left: 187px;
    bottom: 24px;
  }
  .hero-text {
    width: 139px;
    height: 85px;
    font-size: 12px;
    line-height: 1.41;
    color: #fcfcfc;
    margin-bottom: 12px;
  }
  .hero_text-link > svg {
    fill: #fcfcfc;
  }
  .many-ice-cream {
    display: block;
    position: absolute;
    width: 152px;
    bottom: 18px;
    left: 0;
    z-index: 1000;
  }
  .hero_main-img {
    width: 268px;
    left: auto;
    right: 75px;
  }
  .hero_dots-img {
    width: 768px;
    left: auto;
    right: -15;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 591px;
    padding-top: 45px;
  }
  .hero-wraper {
    height: 546px;
  }
  .hero-title {
    width: 367px;
    height: 144px;
    font-size: 38px;
    margin-bottom: 28px;
  }
  .hero-title-upper {
    font-size: 38px;
    line-height: 1.27;
  }
  .hero_text-block {
    left: 245px;
    bottom: 95px;
  }
  .hero-text {
    font-size: 14px;
    margin-bottom: 24px;
    width: 200px;
    height: 80px;
  }
  .many-ice-cream {
    width: 225px;
    bottom: 65px;
  }
  .hero_main-img {
    width: 456px;
    left: auto;
    right: 75px;
  }
  .hero_dots-img {
    width: 1200px;
    left: auto;
    right: -15;
  }
}
.products-wraper-lab {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.products-wraper-titl {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 145px;
}

.products-card-titl {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.products-card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 69px;
}

@media (min-width: 768px) {
  .products-wraper-lab {
    font-size: 22px;
  }
  .products-wraper-titl {
    font-size: 34px;
    line-height: 1.26;
  }
  .products-card-titl {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .products-wraper-lab {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
  .products-wraper-titl {
    font-size: 36px;
    letter-spacing: 0.06em;
  }
  .products-card-titl {
    font-size: 30px;
  }
  .products-card-text {
    font-size: 16px;
  }
}
button {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.products-btm {
  position: absolute;
  width: 40px;
  height: 2px;
  cursor: pointer;
  bottom: 24px;
  left: 135px;
}

@media (min-width: 480px) {
  .products-wraper {
    background-image: url("../../images/mobile/background-mobile/Backgroud_mobile-min.jpg");
  }
}
@media (min-width: 480px) and (min-device-pixel-ratio: 2), (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 480px) and (min-resolution: 2dppx), (min-width: 480px) and (min-resolution: 192dpi) {
  .products-wraper {
    background-image: url("../../images/mobile/background-mobile/Backgroud_mobile@2x-min.jpg");
  }
}
.products-wraper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 80px;
}

.products-inner {
  display: block;
}

.products-card-yellow,
.products-card-orange {
  position: relative;
  max-width: 320px;
  width: 100%;
  padding: 123px 60px 24px;
  border-radius: 24px;
}

.products-card-green {
  position: relative;
  max-width: 320px;
  width: 100%;
  padding: 126px 60px 24px;
  border-radius: 24px;
}

.products-card-green {
  background-color: var(--color-light-salt);
  margin-bottom: 168px;
}

.products-card-yellow {
  background-color: var(--color-yellow);
  margin-bottom: 168px;
}

.products-card-orange {
  background-color: var(--color-brown);
}

.products-green::before,
.products-yellow::before,
.products-orange::before {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(25%, -50%);
  border-radius: 50%;
}

@media (min-width: 480px) {
  .products-green::before {
    background-image: url("../../images/buy-now-modal-produkt-card/kelsey-curtis-min.png");
  }
}
@media (min-width: 480px) and (min-device-pixel-ratio: 2), (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 480px) and (min-resolution: 2dppx), (min-width: 480px) and (min-resolution: 192dpi) {
  .products-green::before {
    background-image: url("../../images/buy-now-modal-produkt-card/kelsey-curtis@2x-min.png");
  }
}
@media (min-width: 480px) {
  .products-yellow::before {
    background-image: url("../../images/buy-now-modal-produkt-card/pariwat-pannium-min.png");
  }
}
@media (min-width: 480px) and (min-device-pixel-ratio: 2), (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 480px) and (min-resolution: 2dppx), (min-width: 480px) and (min-resolution: 192dpi) {
  .products-yellow::before {
    background-image: url("../../images/buy-now-modal-produkt-card/pariwat-pannium@2x-min.png");
  }
}
@media (min-width: 480px) {
  .products-orange::before {
    background-image: url("../../images/buy-now-modal-produkt-card/victor-rutka-min.png");
  }
}
@media (min-width: 480px) and (min-device-pixel-ratio: 2), (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 480px) and (min-resolution: 2dppx), (min-width: 480px) and (min-resolution: 192dpi) {
  .products-orange::before {
    background-image: url("../../images/buy-now-modal-produkt-card/victor-rutka@2x-min.png");
  }
}
@media (min-width: 768px) {
  .products-wraper {
    background-image: url("../../images/tablet/background-tablet/Background_tablet-min.jpg");
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx), (min-width: 768px) and (min-resolution: 192dpi) {
  .products-wraper {
    background-image: url("../../images/tablet/background-tablet/Background_tablet@2x-min.jpg");
  }
}
@media (min-width: 768px) {
  .products-green::before {
    background-image: url("../../images/tablet/Products/kelsey-curtis-tab-min.png");
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx), (min-width: 768px) and (min-resolution: 192dpi) {
  .products-green::before {
    background-image: url("../../images/tablet/Products/kelsey-curtis-tab@2x-min.png");
  }
}
@media (min-width: 768px) {
  .products-yellow::before {
    background-image: url("../../images/tablet/Products/pariwat-pannium-tab-min.png");
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx), (min-width: 768px) and (min-resolution: 192dpi) {
  .products-yellow::before {
    background-image: url("../../images/tablet/Products/pariwat-pannium-tab@2x-min.png");
  }
}
@media (min-width: 768px) {
  .products-orange::before {
    background-image: url("../../images/tablet/Products/victor-rutka-tab-min.png");
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx), (min-width: 768px) and (min-resolution: 192dpi) {
  .products-orange::before {
    background-image: url("../../images/tablet/Products/victor-rutka-tab@2x-min.png");
  }
}
@media (min-width: 768px) {
  .products-wraper {
    padding: 60px 0;
  }
  .products-inner {
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }
  .products-card-green,
.products-card-yellow,
.products-card-orange {
    max-width: 224px;
    width: 100%;
    padding: 108px 26px 20px;
    margin-bottom: 0;
  }
  .products-green::before,
.products-yellow::before,
.products-orange::before {
    transform: translate(5%, -50%);
  }
  .products-btm {
    position: absolute;
    bottom: 20px;
    left: 92px;
  }
}
@media (min-width: 1200px) {
  .products-wraper {
    background-image: url("../../images/desktop/background-desctop/Backgroud_desktop-min.jpg");
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx), (min-width: 1200px) and (min-resolution: 192dpi) {
  .products-wraper {
    background-image: url("../../images/desktop/background-desctop/Backgroud_desktop@2x-min.jpg");
  }
}
@media (min-width: 1200px) {
  .products-green::before {
    background-image: url("../../images/desktop/Products/kelsey-curtis-desk-min.png");
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx), (min-width: 1200px) and (min-resolution: 192dpi) {
  .products-green::before {
    background-image: url("../../images/desktop/Products/kelsey-curtis-desk@2x-min.png");
  }
}
@media (min-width: 1200px) {
  .products-yellow::before {
    background-image: url("../../images/desktop/Products/pariwat-pannium-desk-min.png");
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx), (min-width: 1200px) and (min-resolution: 192dpi) {
  .products-yellow::before {
    background-image: url("../../images/desktop/Products/pariwat-pannium-desk@2x-min.png");
  }
}
@media (min-width: 1200px) {
  .products-orange::before {
    background-image: url("../../images/desktop/Products/victor-rutka-desk-min.png");
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx), (min-width: 1200px) and (min-resolution: 192dpi) {
  .products-orange::before {
    background-image: url("../../images/desktop/Products/victor-rutka-desk@2x-min.png");
  }
}
@media (min-width: 1200px) {
  .products-btm {
    position: absolute;
    bottom: 67px;
    left: 165px;
  }
  .products-card-yellow,
.products-card-orange {
    max-width: 370px;
    width: 100%;
    padding: 165px 64px 67px;
  }
  .products-card-green {
    max-width: 370px;
    width: 100%;
    padding: 165px 63px 67px 61px;
  }
  .products-green::before,
.products-yellow::before,
.products-orange::before {
    display: block;
    width: 302px;
    height: 302px;
    top: 0;
    left: 0;
    transform: translate(12%, -50%);
  }
}
.about {
  background-color: var(--color-salt);
}

.about-container {
  padding-top: 61px;
  padding-bottom: 68px;
  position: relative;
}

.about-label, .about-title, .about-description, .about-item-title, .about-item-desription {
  color: var(--color-text-white);
}

.about-container > label {
  text-align: center;
  display: block;
  margin-bottom: 12px;
}

.about-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
}

.about-first-section {
  margin-bottom: 50px;
}

.about-title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 372px;
}

.about-img {
  width: 280px;
  height: 300px;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 240px;
  left: 20px;
  right: 20px;
}

.about-img > img {
  height: 100%;
}

.description-list {
  max-width: 220px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.about-description:not(last-child) {
  margin-bottom: 4px;
}

.about-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  text-align: center;
}

.about-first-description {
  letter-spacing: 0.04em;
}

.about-second-description, .about-third-description {
  line-height: 1.58;
}

.about-button {
  width: 164px;
  height: 42px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  background: var(--color-button-yellow);
  display: flex;
  align-items: center;
  text-align: center;
  gap: 7.75px;
  padding: 12px 37.51px 12px 34px;
  margin: 0 auto;
}

.about-first-section {
  margin-bottom: 50px;
}

.about-item {
  max-width: 230px;
  margin: 0 auto;
}

.about-icon-div {
  width: 50px;
  height: 50px;
  background-color: var(--color-button-yellow);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  margin-bottom: 16px;
}

.about-icon {
  fill: var(--color-text-dark);
}

.about-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.about-item-desription {
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
}

.about-item:not(:last-child) {
  margin-bottom: 28px;
}

@media screen and (min-width: 480px) {
  .about-container {
    padding-top: 60px;
    padding-bottom: 81px;
  }
  .about-img {
    left: 100px;
    right: 100px;
  }
  .about-first-section {
    margin-bottom: 60px;
  }
  .about-title {
    font-size: 30px;
    line-height: 1.26;
    letter-spacing: 0.04em;
  }
  .about-first-section {
    margin-bottom: 60px;
  }
  .about-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .about-container {
    padding-bottom: 204px;
  }
  .about-label {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
  .about-title {
    font-weight: 400;
    font-size: 34px;
    line-height: 1.26;
    letter-spacing: 0.06em;
    max-width: 454px;
    margin-bottom: 72px;
  }
  .about-icon-div {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about-icon-div {
    margin-bottom: 40px;
  }
}
.wrapper-swiper-sections {
  border: 1px solid black;
  height: 1090px;
  background-image: url(../../images/mobile/background-mobile/Backgroud_mobile-min.jpg);
  background-position: center;
  background-size: cover;
  background: linear-gradient(to bottom, #84A178 36px, transparent 36px);
}

.gallery {
  margin-bottom: 85px;
}

@media screen and (min-width: 480) {
  .wrapper-swiper-sections {
    height: 1157px;
    background: linear-gradient(to bottom, #84A178 50px, transparent 50px);
  }
  .gallery {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 768px) {
  .wrapper-swiper-sections {
    height: 1161px;
    background-image: url(../../images/tablet/background-tablet/Background_tablet-min.jpg);
    background: linear-gradient(to bottom, #84A178 144px, transparent 144px);
  }
  .gallery {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper-swiper-sections {
    height: 1151px;
    background-image: url(../../images/desktop/background-desctop/Backgroud_desktop-min.jpg);
    background: linear-gradient(to bottom, #84A178 100px, transparent 100px);
  }
  .gallery {
    margin-bottom: 140px;
  }
}
.swiper-slide {
  padding: 0;
  margin: 0 auto;
  max-width: 280px;
  text-align: center;
}

.reviews-img {
  display: block;
  width: 100%;
  margin-bottom: 32px;
}

.reviews-text {
  width: 280px;
  height: 256px;
  padding: 40px 35px 40px 35px;
  background: #84A178;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: #FCFCFC;
  margin-bottom: 32px;
}

.reviews-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  text-align: center;
  color: #131313;
  margin-bottom: 12px;
}

.contacts-section {
  position: relative;
  background-color: var(--color-salt);
}

.contacts {
  position: absolute;
}

.contacts-items {
  padding-top: 40px;
  padding-bottom: 24px;
  background-color: var(--color-text-white);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.city,
.adress-cafe .day,
.time,
.phone,
.mail {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--color-text-dark);
}

.adress-cafe {
  color: var(--color-brown);
}

.day,
.phone,
.mail {
  color: var(--color-text-dark);
}

.time {
  color: var(--color-button-gray);
}

.contacts-locations {
  width: 196px;
  height: 100%;
  padding: 12px 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 7px;
  color: var(--color-text-dark);
  background-color: var(--color-button-yellow);
  border-radius: 10px;
}

.contacts-franchise {
  width: 196px;
  height: 100%;
  padding: 13px 55px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  background-color: var(--color-salt);
  border: 2px solid var(--color-button-yellow);
  border-radius: 10px;
}

@media screen and (min-width: 320px) {
  .contacts-section {
    padding-top: 935px;
    padding-bottom: 30px;
  }
  .contacts {
    top: -353px;
  }
  .contacts-items {
    width: 280px;
    height: 412px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .category {
    min-width: 80px;
    height: 22px;
    margin-bottom: 20px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: var(--color-button-yellow);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--color-text-dark);
  }
  .city {
    min-width: 80px;
    min-height: 22px;
  }
  .phone {
    margin-bottom: 6px;
  }
  .hr {
    border: 1px solid #E1E1E1;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .form-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
}
@media screen and (min-width: 480px) {
  .contacts {
    top: -349px;
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-section {
    padding-top: 278px;
    padding-bottom: 20px;
  }
  .contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .contacts-items {
    flex-basis: calc((100% - 32px) / 3);
    min-width: 224px;
    height: 537px;
  }
}
@media screen and (min-width: 768px) {
  .category {
    min-width: 73px;
    height: 30px;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 32px;
    line-height: 1.4;
    border-radius: 6px;
  }
  .contacts {
    top: -299px;
  }
  .contacts-items {
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .city,
.adress-cafe .day,
.time,
.phone,
.mail {
    font-size: 14px;
  }
  .city {
    min-width: 73px;
    min-height: 30px;
  }
  .phone {
    margin-bottom: 4px;
  }
  .hr {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section {
    padding-top: 474px;
    padding-bottom: 60px;
  }
  .contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contacts-items {
    flex-basis: calc((100% - 64px) / 3);
    width: 368px;
    height: 542px;
    top: -128px;
    padding-left: 40px;
    padding-right: 40px;
    background: #FFFFFF;
  }
  .city,
.adress-cafe,
.day,
.time,
.phone,
.mail {
    font-size: 16px;
  }
  .city {
    min-width: 76px;
  }
  .time {
    margin-bottom: 12px;
  }
}
.footer {
  background-color: #84A178;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-ice-cream {
    display: none;
  }
  .footer_tablet {
    display: none;
  }
  .footer_desctop {
    display: none;
  }
  .footer_mobile {
    max-width: 320;
    height: 1487px;
  }
  .footer_mobile_container {
    display: block;
    max-width: 320px;
    height: 372px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
  .text {
    width: 234px;
    height: 134px;
    margin: 0;
  }
  .homemade {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #FCFCFC;
    margin-bottom: 16px;
  }
  .passion {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #FCFCFC;
  }
  .social_media_mobile_footer_icons {
    margin-top: 60px;
    display: flex;
    justify-content: end;
    gap: 20px;
  }
  .mobile_contact_footer {
    margin-top: 20px;
    display: flex;
    text-align: end;
  }
  .mobile_ffc_footer {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    color: #131313;
  }
  .mobile_tel_footer {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    color: #FCFCFC;
  }
  hr {
    border-top: 1px solid #E1E1E1;
    max-width: 320px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .underline {
    max-width: 280px;
    height: 42px;
    display: flex;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #7A7A7A;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer_mobile {
    display: none;
  }
  .footer_tablet {
    display: none;
  }
  .footer_desctop {
    display: none;
  }
  .footer_ice_cream_container {
    display: block;
    max-width: 480px;
    height: 372px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 24px;
  }
  .homemade {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #FCFCFC;
    margin-bottom: 16px;
  }
  .passion {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;
    color: #FCFCFC;
  }
  .social_media_mobile_footer_icons {
    display: flex;
    text-align: end;
    gap: 20px;
  }
  .mobile_contact_footer {
    display: flex;
    justify-content: end;
    margin-left: 56;
    margin-top: 20;
  }
  .mobile_ffc_footer {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    color: #131313;
  }
  .mobile_tel_footer {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    color: #FCFCFC;
  }
  .line_footer {
    border-top-color: #E1E1E1;
    max-width: 320px;
    margin-top: 40px;
  }
  .underline {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #7A7A7A;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer_mobile {
    display: none;
  }
  .footer_desctop {
    display: none;
  }
  .footer_ice_cream {
    display: none;
  }
  .footer-tablet-container {
    display: block;
    max-width: 768px;
    height: 253px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 12px;
  }
  .text {
    width: 352px;
    height: 158px;
    margin: 0;
    margin-bottom: 32px;
  }
  .homemade {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #FCFCFC;
    margin-bottom: 16px;
  }
  .passion {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;
    color: #FCFCFC;
  }
  .social_media_mobile_footer_icons {
    display: flex;
    justify-content: end;
    gap: 20px;
  }
  .mobile_contact_footer {
    display: flex;
    margin-left: 56;
    margin-top: 20;
  }
  .mobile_ffc_footer {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    color: #131313;
  }
  .mobile_tel_footer {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    color: #FCFCFC;
  }
  .line_footer {
    border-top-color: #E1E1E1;
    max-width: 320px;
    margin-top: 40px;
  }
  .underline {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #7A7A7A;
  }
}
@media screen and (min-width: 1200px) {
  .footer_mobile {
    display: none;
  }
  .footer_tablet {
    display: none;
  }
  .footer_ice_cream {
    display: none;
  }
  .footer_desctop_container {
    display: flex;
    max-width: 1168px;
    height: 214px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .text {
    width: 504px;
    height: 122px;
    margin: 0;
  }
  .homemade {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: #FCFCFC;
    margin-bottom: 16px;
  }
  .passion {
    font-weight: 700;
    font-size: 58px;
    line-height: 1.2;
    color: #FCFCFC;
  }
  .social_media_mobile_footer_icons {
    display: flex;
    text-align: end;
    gap: 20px;
  }
  .mobile_contact_footer {
    display: flex;
    justify-content: end;
    margin-top: 20;
  }
  .mobile_ffc_footer {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    color: #131313;
  }
  .mobile_tel_footer {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    color: #FCFCFC;
  }
  .line_footer {
    border-top-color: #E1E1E1;
    max-width: 320px;
    margin-top: 40px;
  }
  .underline {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #7A7A7A;
  }
}
/* Стандартні класи слайдера */
/* Оформлення можна змінювати */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-swiper {
  width: 280px;
  height: 130px;
  border-radius: 8px;
}

@media screen and (min-width: 480px) {
  .gallery-swiper {
    width: 440px;
    height: 204px;
  }
}
@media screen and (min-width: 768px) {
  .gallery-swiper {
    width: 704px;
    height: 327px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-swiper {
    width: 1013px;
    height: 422px;
  }
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  scale: 1.1;
  pointer-events: none;
}

.modal-product-card {
  min-width: 280px;
  height: 990px;
  background: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
  width: 224px;
  height: 32px;
  margin-bottom: 12px;
}

.form-textarea {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
  width: 224px;
  height: 32px;
}

.modal-ingredients {
  width: 500px;
  height: 50px;
  background-color: gainsboro;
  border: 1px solid black;
}

.modal-read-more {
  width: 500px;
  height: 50px;
  background-color: gold;
  border: 1px solid black;
}

.modal-location {
  width: 500px;
  height: 50px;
  background-color: darkturquoise;
  border: 1px solid black;
}

.modal-franchise {
  width: 500px;
  height: 100px;
  background-color: antiquewhite;
}/*# sourceMappingURL=index.css.map */