<section class="about">
  <div class="about-container">
  <label for="about-title">
    <span class="about-label">TRADITION AND LOVE</span>
  </label>
  <h1 class="about-title">HOW IT'S MADE?</h1>
  <img class="about-img" srcset="/images/desktop/about/cow-desk-min.png 1x, /images/desktop/about/cow-desk@2x-min.png 2x" alt="Cow in a field">
  <p class="about-first-description about-desription">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts.</p>
  <p class="about-second-description about-desription">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
  <p class="about-third-description about-desription">This is enough to choose ice cream and coffee for any mood!</p>
  <button type="button" class="about-button">
    <span>Read more</span>
    <svg>
      <use href="/images/sprite.svg#icon-Arrow"></use>
    </svg>
  </button>
  <ul class="about-list">
    <li class="about-item">
      <div class="about-icon-div">
        <svg class="about-icon" width="36" height="36">
          <use href="/images/sprite.svg#icon-cow"></use>
        </svg>
      </div>
      <h2 class="about-item-title">721</h2>
      <p class="about-item-desription">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="about-item">
      <div class="about-icon-div">
        <svg class="about-icon" width="36" height="36">
          <use href="/images/sprite.svg#icon-weight"></use>
        </svg>
      </div>
      <h2 class="about-item-title">16kg</h2>
      <p class="about-item-desription">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="about-item">
      <div class="about-icon-div">
        <svg class="about-icon" width="36" height="36">
          <use href="/images/sprite.svg#icon-ice-crema"></use>
        </svg>
      </div>
      <h2 class="about-item-title">84</h2>
      <p class="about-item-desription">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</div>
</section>
