<section class="advantages">
<div class="container advantages-container">
    <h2 class="hidden">Advantages</h2>
    <ul class="about-list">
      <li class="about-item">
        <p class="about-item-title">721</p>
        <p class="about-item-desription">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="about-item">
        <p class="about-item-title">16kg</p>
        <p class="about-item-desription">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="about-item">
        <p class="about-item-title">84</p>
        <p class="about-item-desription">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
</div>
</section>