<section class="contacts-section" id="contacts">
  <div class="container contacts-cafe">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts">
      <li class="contacts-items">
        <label class="category">CAFE</label>
        <div class="contacts-place">
          <h3 class="city">Chicago</h3>
          <p class="adress-cafe">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
        </div>
        <ul class="time-work">
          <li>
            <p class="day">Monday - Friday</p>
            <p class="time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="day">Saturday - Sunday</p>
            <p class="time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="phone-mail">
          <li>
            <a href="tel:+61(0)383766284" class="phone">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a>
          </li>
        </ul>     
       </li>
      <li class="contacts-items">
        <label class="category">FOODTRUCK</label>
        <div class="contacts-place">
          <h3 class="city">Los Angeles</h3>
          <p class="adress-cafe">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
        </div>
        <ul class="time-work">
          <li>
            <p class="day">Monday - Friday</p>
            <p class="time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="day">Saturday - Sunday</p>
            <p class="time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="phone-mail">
          <li>
            <a href="tel:+61(0)383766284" class="phone">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts-items">
        <label class="category">CAFE</label>
        <div class="contacts-place">
          <h3 class="city">New York</h3>
          <p class="adress-cafe">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
        </div>
        <ul class="time-work">
          <li>
            <p class="day">Monday - Friday</p>
            <p class="time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="day">Saturday - Sunday</p>
            <p class="time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="phone-mail">
          <li>
            <a href="tel:+61(0)383766284" class="phone">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="form-b">
      <button type="button" class="contacts-locations js-open-modal" data-modal="location">Our Locations
        <svg class="icon" width="10" height="10">
          <use href="../images/sprite.svg#icon-ep_arrow-right-bold"></use>
        </svg>
      </button>
      <button type="button" class="contacts-franchise js-open-modal" data-modal="franchise">Franchise
        <svg class="icon" width="10" height="10">
          <use href="../images/sprite.svg#icon-ep_arrow-right-bold"></use>
        </svg>
      </button>
  </div>
</section>

