<section class="contacts-section">
  <div class="container contacts-cafe">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts">
      <li class="contacts-items">
        <div class="contacts-place">
          <span class="category">CAFE</span>
          <h3 class="city">Chicago</h3>
          <p class="adress-cafe">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
          <hr>
          <ul class="time-work">
            <li>
              <h3 class="day">Monday - Friday</h3>
              <p class="time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <h3 class="day">Saturday - Sunday</h3>
              <p class="time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <hr>
        </div>
        <div class="mobile_social_contacts">
          <ul class="phone_mail">
            <li>
              <a href="tel:+61(0) 383 766 284" class="phone">+61(0) 383 766 284</a>
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a>
            </li>
          </ul>  
        </div>   
       </li>
      <li class="contacts-items">
        <div class="contacts-place">
          <span class="category">FOODTRUCK</span>
          <h3 class="city">Los Angeles</h3>
          <p class="adress-cafe">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
          <hr>
          <ul class="time-work">
            <li>
              <h3 class="day">Monday - Friday</h3>
              <p class="time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <h3 class="day">Saturday - Sunday</h3>
              <p class="time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <hr>
        </div>
        <div class="mobile_social_contacts">
          <ul class="phone_mail">
            <li>
              <a href="tel:+61(0) 383 766 284" class="phone">+61(0) 383 766 284</a>
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts-items">
        <div class="contacts-place">
          <span class="category">CAFE</span>
          <h3 class="city">New York</h3>
          <p class="adress-cafe">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
          <hr>
          <ul class="time-work">
            <li>
              <h3 class="day">Monday - Friday</h3>
              <p class="time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <h3 class="day">Saturday - Sunday</h3>
              <p class="time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <hr>
        </div>
        <div class="mobile_social_contacts">
          <ul class="phone_mail">
            <li>
              <a href="tel:+61(0) 383 766 284" class="phone">+61(0) 383 766 284</a>
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="mail">noreply@envato.com</a>
            </li>
          </ul>
        </div> 
      </li>
    </ul>
  </div>
  <div class="form-button">
      <button type="button" class="contacts-locations">Our Locations
        <svg class="icon" width="5" height="10">
          <use href="../images/sprite.svg#icon-weight"></use>
        </svg>
      </button>
      <button type="button" class="contacts-franchise">Franchise
        <svg class="icon" width="5" height="10">
          <use href="../images/sprite.svg#icon-weight"></use>
        </svg>
      </button>
  </div>
</section>
