<section class="gallery">

  <div class="swiper mySwiper gallery-swiper">
    <div class="swiper-wrapper ">
      <div class="swiper-slide ">
        <img class="gallery-swiper-img" src='../images/mobile/slide-up/slide-mob280-min.jpg' alt="">
      </div>
      <div class="swiper-slide">
        <img src='../images/mobile/slide-up/slide-mob280-min.jpg' alt="">
      </div>
      <div class="swiper-slide">
        <img src='../images/mobile/slide-up/slide-mob280-min.jpg' alt="">
      </div>
    </div>
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
  </div>      


</section>