<section class="gallery">
  <H2 class="gallery-hidden">Gallery</H2>
    <div class="swiper gallery-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide gallery-swiper-slide">
          <picture>
            <source media="(max-width: 479px)"
              srcset='../images/mobile/slide-up/slide-mob280-min.jpg 1x, ../images/mobile/slide-up/slide-mob280@2x-min.jpg 2x'>
            <source media="(max-width: 767px)"
              srcset='../images/mobile/slide-up/slide-mob440-min.jpg 1x, ../images/mobile/slide-up/slide-mob440@2x-min.jpg 2x'>
            <source media="(max-width: 1199px)"
              srcset='../images/tablet/slide-up/slide-tablet-min.jpg 1x, ../images/tablet/slide-up/slide-tablet@2x-min.jpg 2x'>
            <source media="(min-width: 1200px)"
              srcset='../images/desktop/slide-up/slide-desk-min.jpg 1x, ../images/desktop/slide-up/slide-desk@2x-min.jpg 2x'>
            <img src='../images/mobile/slide-up/slide-mob280-min.jpg' alt="IceCream set one">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source media="(max-width: 479px)"
              srcset='../images/mobile/slide-up/slide-mob280-2-min.jpg 1x, ../images/mobile/slide-up/slide-mob280-2@2x-min.jpg 2x'>
            <source media="(max-width: 767px)"
              srcset='../images/mobile/slide-up/slide-mob440-2-min.jpg 1x, ../images/mobile/slide-up/slide-mob440-2@2x-min.jpg 2x'>
            <source media="(max-width: 1199px)"
              srcset='../images/tablet/slide-up/slide-tablet2-min.jpg 1x, ../images/tablet/slide-up/slide-tablet2@2x-min.jpg 2x'>
            <source media="(min-width: 1200px)"
              srcset='../images/desktop/slide-up/slide-desk2-min.jpg 1x, ../images/desktop/slide-up/slide-desk2@2x-min.jpg 2x'>
            <img src='../images/mobile/slide-up/slide-mob280-2-min.jpg' alt="IceCream set two">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source media="(max-width: 479px)"
              srcset='../images/mobile/slide-up/slide-mob280-3-min.jpg 1x, ../images/mobile/slide-up/slide-mob280-3@2x-min.jpg 2x'>
            <source media="(max-width: 767px)"
              srcset='../images/mobile/slide-up/slide-mob440-3-min.jpg 1x, ../images/mobile/slide-up/slide-mob440-3@2x-min.jpg 2x'>
            <source media="(max-width: 1199px)"
              srcset='../images/tablet/slide-up/slide-tablet3-min.jpg 1x, ../images/tablet/slide-up/slide-tablet3@2x-min.jpg 2x'>
            <source media="(min-width: 1200px)"
              srcset='../images/desktop/slide-up/slide-desk3-min.jpg 1x, ../images/desktop/slide-up/slide-desk3@2x-min.jpg 2x'>
            <img src='../images/mobile/slide-up/slide-mob280-min.jpg' alt="IceCream set three">
          </picture>
        </div>
      </div>
      <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
    </div>
</section>