<section class="hero">
  <div class="container">
    <div class="hero-wraper">
      <h1 class="hero-title">
        ice cream made with <span class="hero-title-upper">passion</span>
      </h1>
      <a href="#products" class="hero_button-products">Products</a>
      <a href="#about" class="hero_button-about">How it’s made?</a>
      <picture class="hero_main-img">
        <source
          srcset="
            ../images/desktop/Hero-header/desktop-min.png    1x,
            ../images/desktop/Hero-header/desktop@2x-min.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ../images/tablet/Hero-header/tablet-min.png    1x,
            ../images/tablet/Hero-header/tablet@2x-min.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ../images/mobile/Hero-header/mobile-min.png    1x,
            ../images/mobile/Hero-header/mobile@2x-min.png 2x
          "
          media="(max-width:767px)"
        />
        <img
          src="../images/mobile/Hero-header/mobile-min.png"
          alt="big ice cream"
        />
      </picture>
      <picture class="hero_dots-img">
        <source
          srcset="
            ../images/desktop/Hero-header/tochki-desk-min.png    1x,
            ../images/desktop/Hero-header/tochki-desk@2x-min.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ../images/tablet/Hero-header/tochki-tab-min.png    1x,
            ../images/tablet/Hero-header/tochki-tab@2x-min.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ../images/mobile/Hero-header/tochki-mob320-min.png    1x,
            ../images/mobile/Hero-header/tochki-mob320@2x-min.png 2x
          "
          media="(max-width:767px)"
        />
        <img
          src="../images/mobile/Hero-header/tochki-mob320-min.png"
          alt="a wave of dots"
        />
      </picture>
    </div>
  </div>
</section>
