<section class="products container " id="products">
  <div class="products-wraper">

    <p class="products-wraper-lab">100% natural</p>
    <h2 class="products-wraper-titl">products</h2>
    <ul class="products-inner">
      <li class="products-card-green">
        <div class="products-green"></div>
        <h3 class="products-card-titl">ice cream</h3>
        <p class="products-card-text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
          stabilizer
        </p>
      <button tupe="button" class="products-btm">
        <svg width="40" height="16">
          <use href="../images/sprite.svg#icon-Arrow"></use>
        </svg>
      </button>
      </li>
      <li class="products-card-yellow">
        <div class="products-yellow"></div>
        <h3 class="products-card-titl">ice coffee</h3>
        <p class="products-card-text">Fragrant invigorating drink created from 100% natural ingredients without the use
          of preservatives
          and flavor enhancers

        </p>
        <button tupe="button" class="products-btm">
          <svg width="40" height="16">
            <use href="../images/sprite.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-card-orange">
        <div class="products-orange"></div>
        <h3 class="products-card-titl">milkshakes</h3>
        <p class="products-card-text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits,
          berries and other sweets
          of your choice
        </p>
        <button tupe="button" class="products-btm" >
          <svg  width="40" height="16">
            <use href="../images/sprite.svg#icon-Arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>

