<section class="reviews">
  <div class="swiper reviews-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="reviews-img">
          <img src="#" width="85" height="85" alt="slaid_a">
        </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">Emili, Los Angeles</h3>
      </div >
      <div class="swiper-slide">
        <div class="reviews-img">
          <img src="#" width="85" height="85" alt="slaid_b">
        </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">Emmi, Los Angeles</h3>        
      </div >
      <div class="swiper-slide">
        <div class="reviews-img">
          <img src="#" width="85" height="85" alt="slaid_c">
        </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">Fngey, Los Angeles</h3>        
      </div >
    </div>
    <div class="swiper-pagination"></div >
  </div>
</section>
