<!-- <section class="reviews"> -->
  <div class="swiper reviews-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="#" width="85" height="85" alt="Evheny">
          </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">Evheny Shults, Ukraine</h3>
        </div>
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="#" width="85" height="85" alt="Yuriy_Aza">
          </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">Yuriy Aza, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="#" width="85" height="85" alt="Oleh">
          </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">Oleh Prymushco, Ukraine</h3>  
        </div>      
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="#" width="85" height="85" alt="FOBOSSS">
          </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">FOBOSSS, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="#" width="85" height="85" alt="Iryna_Mulyk">
          </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">Iryna Mulyk, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="#" width="85" height="85" alt="Max-Lujansky">
          </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">Max Lujansky, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="#" width="85" height="85" alt="Nataly">
          </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">Nataly, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="#" width="85" height="85" alt="O.Denysuk">
          </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">Oleksandr, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="#" width="85" height="85" alt="Pavlo">
          </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">PAVLO, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="#" width="85" height="85" alt="Povalii">
          </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">Ludmila Povalii, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="#" width="85" height="85" alt="Viacheslav">
          </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">Viacheslav, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="#" width="85" height="85" alt="Yurii_Ratynskyi">
          </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">Yurii Ratynskyi, Ukraine</h3> 
        </div>       
      </div >
    </div>
    <div class="swiper-pagination"></div >
  </div>

