<!-- <section class="reviews"> -->
  <div class="swiper reviews-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="../images/slide-avatars/Evheny_Shults-min.png" width="85" height="85" alt="Evheny">
          </div>        
          <p class="reviews-text">It was a great experience that showed that learning doesn't end with learning!</p>
          <h3 class="reviews-name">Evheny Shults, Ukraine</h3>
        </div>
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="../images/slide-avatars/Yuriy_Aza-min.png" width="85" height="85" alt="Yuriy_Aza">
          </div>        
          <p class="reviews-text">This is truly a team job! Ideas, development, search for bugs - the team did it together, unitedly and with great fire. Thanks team!</p>
          <h3 class="reviews-name">Yuriy Aza, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="../images/slide-avatars/Oleg_Primushco-min.png" width="85" height="85" alt="Oleh">
          </div>        
          <p class="reviews-text">When everyone moves forward together, success comes by itself.</p>
          <h3 class="reviews-name">Oleh Prymushco, Ukraine</h3>  
        </div>      
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="../images/slide-avatars/FOBOSSS-min.png" width="85" height="85" alt="FOBOSSS">
          </div>        
          <p class="reviews-text">It was Interesting, fun, curious, friendly</p>
          <h3 class="reviews-name">FOBOSSS, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="../images/slide-avatars/Iryna_Mulyk-min.png" width="85" height="85" alt="Iryna_Mulyk">
          </div>        
          <p class="reviews-text">I enjoyed working with my friendly and passionate team! Looking forward to new cool projects!</p>
          <h3 class="reviews-name">Iryna Mulyk, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="../images/slide-avatars/Max-Lujansky-min.png" width="85" height="85" alt="Max-Lujansky">
          </div>        
          <p class="reviews-text">I love visiting your cafe.
          You prepare the most delicious ice cream in Los Angeles!git 
          In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
          <h3 class="reviews-name">Max Lujansky, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="../images/slide-avatars/Nataly-min.png" width="85" height="85" alt="Nataly">
          </div>        
          <p class="reviews-text">The teamwork was incredible. I am very satisfied with my work.</p>
          <h3 class="reviews-name">Nataly, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="../images/slide-avatars/Oleksandr_Denysiuk-min.png" width="85" height="85" alt="O.Denysuk">
          </div>        
          <p class="reviews-text">It was very cool to work and communicate with like-minded people!</p>
          <h3 class="reviews-name">Oleksandr, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="../images/slide-avatars/Pavlo-min.png" width="85" height="85" alt="Pavlo">
          </div>        
          <p class="reviews-text">Everyone has a purpose in life. And you gave me a dream.</p>
          <h3 class="reviews-name">PAVLO, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="../images/slide-avatars/Povalii_Ludmila-min.png" width="85" height="85" alt="Povalii">
          </div>        
          <p class="reviews-text">Very interesting and creative! You inspire not to stop, but to go forward!</p>
          <h3 class="reviews-name">Ludmila Povalii, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="../images/slide-avatars/Viacheslav-min.png" width="85" height="85" alt="Viacheslav">
          </div>        
          <p class="reviews-text">It is very nice to work in a team of real professionals who are always ready to help!</p>
          <h3 class="reviews-name">Viacheslav, Ukraine</h3> 
        </div>       
      </div >
      <div class="swiper-slide">
        <div class="reviews-swiper-slide">
          <div class="reviews-img">
            <img src="../images/slide-avatars/Yurii_Ratynskyi-min.png" width="85" height="85" alt="Yurii_Ratynskyi">
          </div>        
          <p class="reviews-text">When you go to your goal, the world moves towards you, but very slowly.</p>
          <h3 class="reviews-name">Yurii Ratynskyi, Ukraine</h3> 
        </div>       
      </div >
    </div>
    <div class="swiper-pagination"></div >
  </div>

