.is-hidden {
  visibility: hidden;
  opacity: 0;
  scale: 1.1;
  pointer-events: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 80;
  visibility: hidden;
  opacity: 0;
  transition: visibility 500ms, opacity 500ms;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 90;
  width: 280px;
  max-width: 100%;
  padding: 28px;

  text-align: center;
  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  visibility: hidden;
  opacity: 0;
  transition: visibility 500ms, opacity 500ms;
}

.overlay.active,
.modal.active {
  visibility: visible;
  opacity: 1;
}

.modal-button-close {
  position: absolute;
  top: 12px;
  right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
