// Приклад для CSS
// Нижче добавляємо свої класи

.modal-franchise {
  width: 500px;
  height: 100px;
  background-color: antiquewhite;
}

/* Стандартні класи слайдера */
/* Оформлення можна змінювати */

.swiper {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
