.modal-ingredients-button-close {
  border: none;

  background-color: inherit;

  right: 12px;

  color: var(--color-text-dark);
}

.modal-ingredients-button-close-svg {
  fill: currentColor;
}

.modal-ingredients-product-heading {
  display: block;
  text-align: center;

  font-family: 'Seymour One', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}
.modal-ingredients-product-container-image {
  display: block;
  width: 132px;
  height: 132px;

  margin-left: auto;
  margin-right: auto;

  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

  border-radius: 50%;
}
.modal-ingredients-product-image {
  position: relative;
  top: -7px;

  width: 132px;
  height: 132px;

  border-radius: 50%;
  background-color: var(--color-button-yellow);
}
.modal-ingredients-value-list {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  width: fit-content;
}
.modal-ingredients-value-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border: 2px solid #9cbe8f;
  border-radius: 40px;
}

.modal-ingredients-value-span {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
}
.modal-ingredients-ingredients-heading {
  display: block;

  width: fit-content;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;

  text-transform: capitalize;
}
.modal-ingredients-ingredients-list {
  width: 100%;
}
.modal-ingredients-ingredients-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 11px;

  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  letter-spacing: 0.04em;
}
.modal-ingredients-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal-ingredients-form-button {
  display: block;
  height: 42px;

  background: var(--color-button-yellow);
  border-radius: 10px;
  border: none;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;

  transition: background-color var(--transition-rule);
}

.modal-ingredients-form-button:hover {
  background-color: var(--color-button-green);
}

.modal-ingredients-form-button:focus {
  background-color: var(--color-button-green);
}

.modal-ingredients-form-button:disabled {
  background-color: var(--color-button-gray);
}

.modal-ingredients-form > input,
.modal-ingredients-form > textarea {
  padding: 11px 16px;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.modal-ingredients-form > input {
  height: 42px;
  margin-bottom: 16px;
}

.modal-ingredients-form > textarea {
  height: 84px;

  resize: none;
}

.modal-ingredients-form > input::placeholder,
.modal-ingredients-form > textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

@media (max-width: 767px) {
  .modal-ingredients {
    width: 280px;

    padding: 28px 20px;
  }

  .modal-ingredients-button-close {
    width: 20px;
    height: 20px;
  }

  .modal-ingredients-button-close-svg {
    width: 11.11px;
    height: 11.14px;
  }

  .modal-ingredients-product-heading {
    width: 142px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
  }
  .modal-ingredients-product-container-image {
    margin-bottom: 23px;
  }
  .modal-ingredients-value-list {
    gap: 0 9px;
    margin-bottom: 40px;
  }
  .modal-ingredients-value-item {
    width: 53px;
    height: 72px;

    padding-bottom: 8px;

    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
  }

  .modal-ingredients-value-span {
    width: 43px;
    height: 43px;

    font-weight: 500;
    font-size: 10px;
    line-height: 2.8px;
  }

  .modal-ingredients-ingredients-list {
    margin-bottom: 40px;
  }

  .modal-ingredients-form-button {
    width: 132px;
  }

  .modal-ingredients-form > input {
    width: 240px;
  }

  .modal-ingredients-form > textarea {
    width: 240px;
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  .modal-ingredients {
    width: 568px;

    padding: 32px 40px;
  }

  .modal-ingredients-button-close {
    width: 24px;
    height: 24px;
  }

  .modal-ingredients-button-close-svg {
    width: 13.33px;
    height: 13.37px;
  }

  .modal-ingredients-product-heading {
    margin-bottom: 31px;
  }

  .modal-ingredients-product-container-image {
    margin-bottom: 32px;
  }

  .modal-ingredients-value-list {
    gap: 0 20px;
    margin-bottom: 48px;
  }
  .modal-ingredients-value-item {
    width: 65px;
    height: 95px;

    padding-bottom: 14px;

    font-size: 12px;
    line-height: 1.25;
  }
  .modal-ingredients-value-span {
    width: 53px;
    height: 53px;

    font-weight: 500;
    font-size: 12px;
    line-height: 2.33px;
  }

  .modal-ingredients-ingredients-list {
    margin-bottom: 48px;
  }

  .modal-ingredients-form-button {
    width: 121px;
  }

  .modal-ingredients-form > input {
    width: 368px;
  }

  .modal-ingredients-form > textarea {
    width: 368px;
    margin-bottom: 32px;
  }
}
