.modal-location {
  padding: 28px;
}

@media (min-width: 768px) {
  .modal-location {
    padding: 32px 60px;
  }
}

.modal-location-title {
  margin-bottom: 20px;
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .modal-location-title {
    font-size: 20px;
  }
}


@media (min-width: 768px) {
  .modal-location-title {
    margin-bottom: 32px;
  }
}

.modal-location-map {
  margin-bottom: 24px;
  width: 220px;
  height: 199px;
}

@media (min-width: 768px) {
  .modal-location-map {
    margin-bottom: 32px;
    width: 444px;
    height: 260px;
  }
}

.modal-location-link {
  display: inline-block;
  padding: 12px 34px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  background: #f8d24e;
  border-radius: 10px;
}

.modal-location-link:hover,
.modal-location-link:focus {
  background-color: #0a8817;
}

.modal-location-link:focus {
  color: #fcfcfc;
}
