// Приклад для CSS
// Нижче добавляємо свої класи

.modal-product-card {
  min-width: 280px;
  height: 990px;
  background: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center ;

}

.form-input {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
  width: 224px;
  height: 32px;
}

.form-textarea {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
  width: 224px;
  height: 32px;
}

.form-button {

}