.modal-read-more-title {
  margin-bottom: 20px;
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: 24px;
}

.modal-read-more-video {
  margin-bottom: 20px;
  width: 100%;
  height: 200px;
}

.read-more-description {
  width: 100%;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
}
