<div class="modal-franchise">

  <!--
    Приклад двох незалежних слайдерів
    
    Додаткові налаштування кожного слайдеру у файлах, які називаються відповідно:
    gallery-swiper.js
    reviews-swiper.js
   
    Відео про налаштування слайдерів:
    https://drive.google.com/file/d/1lvZ984NwB9j6QwRQejcJt0thu9sgiVy-/view

    Важливо не змінювати цого дефолтні класи, свої добавляти можна
    -->

  <div class="swiper gallery-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="swiper reviews-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide A</div>
      <div class="swiper-slide">Slide B</div>
      <div class="swiper-slide">Slide C</div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

</div>
