<div class="overlay js-overlay-modal"></div>
<div class="modal-ingredients modal" data-modal="ingredients">
  <button
    type="button"
    class="modal-ingredients-button-close modal-button-close js-modal-close"
  >
    <svg class="modal-ingredients-button-close-svg">
      <use href="../images/sprite.svg#icon-modal-X"></use>
    </svg>
  </button>
  <h2 class="modal-ingredients-product-heading">Chololate icecream</h2>
  <div class="modal-ingredients-product-container-image">
    <img
      class="modal-ingredients-product-image"
      srcset="
        ../images/modal-with-info/Ellipse-67-min.png    1x,
        ../images/modal-with-info/Ellipse-67@2x-min.png 2x
      "
      src="../images/modal-with-info/Ellipse-67-min.png"
      alt="Chololate icecream"
      width="132"
    />
  </div>
  <ul class="modal-ingredients-value-list">
    <li class="modal-ingredients-value-item">
      <span class="modal-ingredients-value-span">320</span>kcal
    </li>
    <li class="modal-ingredients-value-item">
      <span class="modal-ingredients-value-span">4g</span>kcal
    </li>
    <li class="modal-ingredients-value-item">
      <span class="modal-ingredients-value-span">8,2g</span>kcal
    </li>
    <li class="modal-ingredients-value-item">
      <span class="modal-ingredients-value-span">40,4g</span>kcal
    </li>
  </ul>
  <h2 class="modal-ingredients-ingredients-heading">ingredients</h2>
  <ul class="modal-ingredients-ingredients-list">
    <li class="modal-ingredients-ingredients-item">Milk<span>100ml</span></li>
    <li class="modal-ingredients-ingredients-item">
      Belgian chocolate<span>20g</span>
    </li>
    <li class="modal-ingredients-ingredients-item">Cream<span>150 ml</span></li>
    <li class="modal-ingredients-ingredients-item">
      Cocoa powder<span> 30g</span>
    </li>
    <li class="modal-ingredients-ingredients-item">Sugar<span>40g</span></li>
    <li class="modal-ingredients-ingredients-item">
      Vanilla sugar<span>10g</span>
    </li>
  </ul>
  <form class="modal-ingredients-form">
    <label for="name"></label>
    <input type="text" name="name" placeholder="Name" id="name"/>
    <label for="phone"></label>
    <input type="text" name="phone" placeholder="Phone" id="phone"/>
    <label for="comment"></label>
    <textarea name="comment" placeholder="Comment" id="comment"></textarea>

    <button class="modal-ingredients-form-button" type="submit">Submit</button>
  </form>
</div>
