<div class="backdrop is-hidden">
  <div class="modal-product-card">

    <!-- Приклад для HTML -->
    <!-- Замість цього <div> пишемо свій код -->
    <strong>Buy now</strong>

    <form class="form">

    <label>
      <input type="checkbox" name="product" value="ice cream" checked />
      ice cream
    </label> 
  
     <label>
      <input type="checkbox" name="product" value="ice coffee" checked />
      ice coffee
     </label> 
  
     <label>
      <input type="checkbox" name="product" value="milkshake" checked />
      milkshake
     </label>

    
      
     <label for="name" class="form-label"></label>
     <input type="text" id="name" class="form-input">

     <label for="phone" class="form-label">     </label>
     <input type="tel" id="phone" class="form-input">
    

     <label for="comment" class="form-label">  </label>
     <textarea name="comment" id="comment" cols="30" rows="10"></textarea>

     <button type="submit"> Submit</button>
    </form>
  
  </div>
</div>
