<div class="overlay js-overlay-modal"></div>

<div class="modal" data-modal="read-more">
  <button class="modal-button-close js-modal-close" type="button">
    <svg width="11" height="11">
      <use href="../images/sprite.svg#icon-mobile-modal-X"></use>
    </svg>
  </button>
  <h2 class="modal-more-title">How it&#39;s made?</h2>
  <div class="modal-more-video">
    <iframe
      width="100%"
      height="100%"
      src="https://www.youtube.com/embed/omoCbKv7zaE?autoplay=1"
      title="How it&#39;s made?"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <p class="modal-more-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
