<footer class="footer">
 <!-- ---------------------footer mobile---------------- -->
    <div class="footer_mobile">
        <div class="footer_mobile_container">
         <div class="text">
          <p class="homemade">
          HOMEMADE ICE CREAM MADE
          </p>
        <h3 class="passion">
          WITH PASSION
        </h3>
      </div>
      <ul class="social_media_mobile_footer_icons">
        <li class="social_media_mobile_footer_item">
            <a href="" class="social_media_mobile_footer_link">
                <svg class="social_media_mobile_footer_icon" width="34" height="34">
                    <use href="../images/sprite.svg#icon-github"></use>
                </svg>
            </a>
        </li>
        <li class="social_media_mobile_footer_item">
            <a href="" class="social_media_mobile_footer_link">
                <svg class="social_media_mobile_footer_icon" width="34" height="34">
                    <use href="../images/sprite.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li class="social_media_mobile_footer_item">
            <a href="" class="social_media_mobile_footer_link">
                <svg class="social_media_mobile_footer_icon" width="34" height="34">
                    <use href="../images/sprite.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
      </ul>
      <ul class="mobile_contact_footer">
         <li class="mobile_ffc_footer"><a>Feel free to contact</a></li>
         <li class="mobile_tel_footer"><a href="tel: +61(0)383766284" class="mobile-tel-footer">+61 (0) 383 766 284</a></li>
      </ul>
      <hr class="line_footer"></hr>
      
      <p class="underline">© 2022 - IceCream. All Rights Reserved.</p> 
      
    </div>
 </div>
<!-- --------------------footer ice cream--------------- -->
<div class="footer_ice_cream">
    <div class="footer_ice_cream_container">
        <div class="text">
    <p class="homemade">
      HOMEMADE ICE CREAM MADE
    </p>
    <h2 class="passion">
      WITH PASSION
    </h2>
     </div>
   <ul class="social_media_mobile_footer_icons">
    <li class="social_media_mobile_footer_item">
        <a href="" class="social_media_mobile_footer_link">
            <svg class="social_media_mobile_footer_icon" width="34" height="34">
                <use href="../images/sprite.svg#icon-github"></use>
            </svg>
        </a>
    </li>
    <li class="social_media_mobile_footer_item">
        <a href="" class="social_media_mobile_footer_link">
            <svg class="social_media_mobile_footer_icon" width="34" height="34">
                <use href="../images/sprite.svg#icon-telegram"></use>
            </svg>
        </a>
    </li>
    <li class="social_media_mobile_footer_item">
        <a href="" class="social_media_mobile_footer_link">
            <svg class="social_media_mobile_footer_icon" width="34" height="34">
                <use href="../images/sprite.svg#icon-facebook"></use>
            </svg>
        </a>
    </li>
   </ul>
   <ul class="mobile_contact_footer">
     <li class="mobile_ffc_footer"><a>Feel free to contact</a></li>
     <li class="mobile_tel_footer"><a href="tel: +61(0)383766284" class="mobile-tel-footer">+61 (0) 383 766 284</a></li>
   </ul>
   <div class="line_footer"></div>
   
   <p class="underline">© 2022 - IceCream. All Rights Reserved.</p>
   </div>
   </div>
 <!-- -----------------footer tablet-------------------- -->
 <div class="footer_tablet">

  <div class="footer-tablet-container">
    <p class="homemade">
        HOMEMADE ICE CREAM MADE
    </p>
    <h2 class="passion">
      with passion
    </h2>
  
   <ul class="social_media_mobile_footer_icons">
    <li class="social_media_mobile_footer_item">
        <a href="" class="social_media_mobile_footer_link">
            <svg class="social_media_mobile_footer_icon" width="34" height="34">
                <use href="../images/sprite.svg#icon-github"></use>
            </svg>
        </a>
    </li>
    <li class="social_media_mobile_footer_item">
        <a href="" class="social_media_mobile_footer_link">
            <svg class="social_media_mobile_footer_icon" width="34" height="34">
                <use href="../images/sprite.svg#icon-telegram"></use>
            </svg>
        </a>
    </li>
    <li class="social_media_mobile_footer_item">
        <a href="" class="social_media_mobile_footer_link">
            <svg class="social_media_mobile_footer_icon" width="34" height="34">
                <use href="../images/sprite.svg#icon-facebook"></use>
            </svg>
        </a>
    </li>
   </ul>
   <ul class="mobile_contact_footer">
     <li class="mobile_ffc_footer"><a>Feel free to contact</a></li>
     <li class="mobile_tel_footer"><a href="tel: +61(0)383766284" class="mobile-tel-footer">+61 (0) 383 766 284</a></li>
   </ul>
   <div class="line_footer"></div>
   
   <p class="underline">© 2022 - IceCream. All Rights Reserved.</p>
   
  </div>
 </div>
  <!-- -----------------footer desctop-------------- -->
  <div class="footer_desctop">
    <div class="footer_desctop_container">
        <div class="text">
          <p class="homemade">HOMEMADE ICE CREAM MADE</p>
          <h2 class="passion">WITH PASSION</h2>
        </div>
       <ul class="social_media_mobile_footer_icons">
         <li class="social_media_mobile_footer_item">
           <a href="" class="social_media_mobile_footer_link">
             <svg class="social_media_mobile_footer_icon" width="34" height="34">
              <use href="../images/sprite.svg#icon-github"></use>
            </svg>
          </a>
          </li>
          <li class="social_media_mobile_footer_item">
           <a href="" class="social_media_mobile_footer_link">
          <svg class="social_media_mobile_footer_icon" width="34" height="34">
              <use href="../images/sprite.svg#icon-telegram"></use>
          </svg>
      </a>
      </li>
      <li class="social_media_mobile_footer_item">
         <a href="" class="social_media_mobile_footer_link">
          <svg class="social_media_mobile_footer_icon" width="34" height="34">
              <use href="../images/sprite.svg#icon-facebook"></use>
          </svg>
         </a>
      </li>
       </ul>
       <ul class="mobile_contact_footer">
          <li class="mobile_ffc_footer"><a>Feel free to contact</a></li>
          <li class="mobile_tel_footer"><a href="tel: +61(0)383766284" class="mobile-tel-footer">+61 (0) 383 766 284</a></li>
       </ul>
     <div class="line_footer"></div>
 
      <p class="underline">© 2022 - IceCream. All Rights Reserved.</p>
   </div>
 </div>
 
</footer>
