<footer class="footer">
 <!-- ---------------------footer mobile---------------- -->
    <div class="footer_mobile">
        <div class="footer_mobile_container">
         <div class="text">
          <p class="homemade">
          HOMEMADE ICE CREAM MADE
          </p>
        <h3 class="passion">
          WITH PASSION
        </h3>
      </div>
      <ul class="social_media_mobile_footer_icons">
        <li class="social_media_mobile_footer_item">
            <a href="" class="social_media_mobile_footer_link">
                <svg class="social_media_mobile_footer_icon" width="34" height="34">
                    <use href="../images/sprite.svg#icon-github"></use>
                </svg>
            </a>
        </li>
        <li class="social_media_mobile_footer_item">
            <a href="" class="social_media_mobile_footer_link">
                <svg class="social_media_mobile_footer_icon" width="34" height="34">
                    <use href="../images/sprite.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li class="social_media_mobile_footer_item">
            <a href="" class="social_media_mobile_footer_link">
                <svg class="social_media_mobile_footer_icon" width="34" height="34">
                    <use href="../images/sprite.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
      </ul>
      <ul class="mobile_contact_footer">
         <li class="mobile_ffc_footer"><a>Feel free to contact</a></li>
         <li class="mobile_tel_footer"><a href="tel: +61(0)383766284" class="mobile-tel-footer">+61 (0) 383 766 284</a></li>
      </ul>
      <hr class="footerline" size="1px" width="100%" color="#E1E1E1">
      
      <a class="underline">© 2022 - IceCream. All Rights Reserved.</a> 
      
    </div>
 </div>
 <!-- --------------------footer ice cream--------------- -->
   <div class="footer_ice_cream">
      <div class="footer_ice_cream_container">
        <div class="text">
            <p class="homemade">
              HOMEMADE ICE CREAM MADE
             </p>
         <h2 class="passion">
            WITH PASSION
         </h2>
         </div>
      <ul class="social_media_mobile_footer_icons">
      <li class="social_media_mobile_footer_item">
        <a href="" class="social_media_mobile_footer_link">
            <svg class="social_media_mobile_footer_icon" width="34" height="34">
                <use href="../images/sprite.svg#icon-github"></use>
            </svg>
        </a>
      </li>
     <li class="social_media_mobile_footer_item">
        <a href="" class="social_media_mobile_footer_link">
            <svg class="social_media_mobile_footer_icon" width="34" height="34">
                <use href="../images/sprite.svg#icon-telegram"></use>
            </svg>
        </a>
      </li>
      <li class="social_media_mobile_footer_item">
        <a href="" class="social_media_mobile_footer_link">
            <svg class="social_media_mobile_footer_icon" width="34" height="34">
                <use href="../images/sprite.svg#icon-facebook"></use>
            </svg>
        </a>
    </li>
   </ul>
   <ul class="mobile_contact_footer">
     <li class="mobile_ffc_footer"><a>Feel free to contact</a></li>
     <li class="mobile_tel_footer"><a href="tel: +61(0)383766284" class="mobile-tel-footer">+61 (0) 383 766 284</a></li>
   </ul>
   </div>
   <hr class="footerline" size="1px"width="100%" color="#E1E1E1">
   <div class="line_footer">
  
   <p class="underline">© 2022 - IceCream. All Rights Reserved.</p>
   
   </div>
   </div>
 <!-- -----------------footer tablet-------------------- -->
 <div class="footer_tablet">

  <div class="footer-tablet-container">
    
    <div class="homemade">HOMEMADE ICE CREAM MADE</div>
    <div class="footer_wps">
    <h2 class="passion">with passion</h2>
    
   <ul class="social_media_mobile_footer_icons">
    <li class="social_media_mobile_footer_item">
        <a href="" class="social_media_mobile_footer_link">
            <svg class="social_media_mobile_footer_icon" width="34" height="34">
                <use href="../images/sprite.svg#icon-github"></use>
            </svg>
        </a>
     </li>
     <li class="social_media_mobile_footer_item">
        <a href="" class="social_media_mobile_footer_link">
            <svg class="social_media_mobile_footer_icon" width="34" height="34">
                <use href="../images/sprite.svg#icon-telegram"></use>
            </svg>
        </a>
      </li>
      <li class="social_media_mobile_footer_item">
        <a href="" class="social_media_mobile_footer_link">
            <svg class="social_media_mobile_footer_icon" width="34" height="34">
                <use href="../images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
        <div class="mobile_contact_footer">
         <a class="mobile_ffc_footer">Feel free to contact</a>
         <a href="tel: +61(0)383766284" class="mobile_tel_footer">+61 (0) 383 766 284</a>
        </div>
   </div>
   <div class="line_footer"></div>
   <hr class="footerline" size="1px" width="100%" color="#E1E1E1">
   <p class="underline">© 2022 - IceCream. All Rights Reserved.</p>
   
  </div>
 </div>
  <!-- -----------------footer desctop-------------- -->
  <div class="footer_desctop">
    <div class="footer_desctop_container">
        <div class="text">
          <p class="homemade">HOMEMADE ICE CREAM MADE</p>
          <h2 class="passion">WITH PASSION</h2>
        </div>
       <ul class="social_media_mobile_footer_icons">
         <li class="social_media_mobile_footer_item">
           <a href="" class="social_media_mobile_footer_link">
             <svg class="social_media_mobile_footer_icon" width="34" height="34">
              <use href="../images/sprite.svg#icon-github"></use>
            </svg>
          </a>
          </li>
          <li class="social_media_mobile_footer_item">
           <a href="" class="social_media_mobile_footer_link">
          <svg class="social_media_mobile_footer_icon" width="34" height="34">
              <use href="../images/sprite.svg#icon-telegram"></use>
          </svg>
      </a>
      </li>
      <li class="social_media_mobile_footer_item">
         <a href="" class="social_media_mobile_footer_link">
          <svg class="social_media_mobile_footer_icon" width="34" height="34">
              <use href="../images/sprite.svg#icon-facebook"></use>
          </svg>
         </a>
      </li>
       </ul>
       <ul class="mobile_contact_footer">
          <li class="mobile_ffc_footer"><a>Feel free to contact</a></li>
          <li class="mobile_tel_footer"><a href="tel: +61(0)383766284" class="mobile-tel-footer">+61 (0) 383 766 284</a></li>
       </ul>
       </div>
     
     <hr class="footerline" size="1px" width="100%" color="#E1E1E1">
      <p class="underline">© 2022 - IceCream. All Rights Reserved.</p>
   
 </div>
 
</footer>
