<header class=" page-header">
  <div class="container">
    <nav class="nav-menu">

<!--logo-->

    <a href="./index.html" class="logo-ice">
      <svg class="" width="40" height="37" aria-label="logo ice">  
        <use href="/images/sprite.svg#icon-Logo"></use>
      </svg>
    </a>

<!--mobile-nav menu -->

    <ul>
      <li class="header-menu-item"><a href="./index.html">Home</a></li>
      <li class="header-menu-item"><a href="">How it’s made?</a></li>
      <li class="header-menu-item"><a href="">Our products</a></li>
      <li class="header-menu-item"><a href="">Contact</a></li>
    </ul>
  </nav>

  <!-- button Buy now -->

   <button type="button" class="" aria-label="buttun order">Buy now >
  </button>

<!-- button menu-open -->

    <button type="button" class="burger-menu-open " >
      <svg class="icon-menu-burger" width="32" height="32" aria-label="Switch-on mobile menu">
          <use href="/images/sprite.svg#icon-menu-burger"></use>
      </svg>
    </button>
  </div>

<!-- button menu-close -->

<button type="button" class="burger-menu-closed " >
  <svg class="icon-menu-burger" width="32" height="32" aria-label="Switch-on mobile menu">
      <use href="/images/sprite.svg#icon-mobile-modal-X"></use>
  </svg>
</button>
</div>

</header >


