<header class=" page-header">
  <div class="container page-heder-container  ">
<!--logo-->

    <a href="./index.html" class="logo-ice ">
      <svg class="logo-ice-mob" viewBox="0 0 40 37" aria-label="logo ice">  
        <use  href="/images/sprite.svg#icon-Logo"></use>
      </svg>
    </a>
<!--nav menu -->
    <div class="nav-menu" >
      <ul class="header-nav-list">
        <li class="header-nav-item"><a href="./index.html">Home</a></li>
        <li class="header-nav-item"><a href="">How it’s made?</a></li>
        <li class="header-nav-item"><a href="">Our products</a></li>
        <li class="header-nav-item"><a href="">Contact</a></li>
      </ul>
    </div>
  
    <!-- button Buy now -->
  <div class="header-tablet-bt">
    <button type="button" class="bt-buy-now nav_bt-buy-now" aria-label="buttun order"><span class="bt-text">Buy now</span> 
      <svg class="icon-menu-burger" width="12" height="12" aria-label="Switch-on mobile menu">
        <use href="/images/sprite.svg#icon-ep_arrow-right-bold"></use>
    </svg>
    </button>
<!-- button menu-open -->

<button type="button" class="header-menu-open " >
  <svg class="icon-menu-burger" width="32" height="32" aria-label="Switch-on mobile menu">
      <use href="/images/sprite.svg#icon-menu-burger"></use>
  </svg>
</button>
</div>
<!-- button menu-close -->
<div class="header-menu ">
<div class="header-menu_container">
<button type="button" class="header-menu-closed" >
  <svg class="icon-menu-burger" width="32" height="32" aria-label="Switch-on mobile menu">
      <use href="/images/sprite.svg#icon-mobile-modal-X"></use>
  </svg>
</button>

<!---nav menu -->
<!--logo menu-->

<a href="./index.html" class="logo-ice menu-logo ">
  <svg class="logo-ice-mob" width="40" height="37" aria-label="logo ice">  
    <use href="/images/sprite.svg#icon-Logo"></use>
  </svg>
</a>

<div >
    <ul class="header-list">
      <li class="header-menu-item"><a href="./index.html">Home</a></li>
      <li class="header-menu-item"><a href="">How it’s made?</a></li>
      <li class="header-menu-item"><a href="">Our products</a></li>
      <li class="header-menu-item"><a href="">Contact</a></li>
    </ul>
  </div>

  <!-- button Buy now -->

  <button type="button" class="bt-buy-now" aria-label="buttun order"><span class="bt-text">Buy now</span> 
    <svg class="icon-menu-burger" width="12" height="12" aria-label="Switch-on mobile menu">
      <use href="/images/sprite.svg#icon-ep_arrow-right-bold"></use>
  </svg>
</button>
</div>
</div> 
</div>

</header>


