<header class="page-header "> 
  <div class="container page-heder-container">

<!--logo-->

    <a href="/src/index.html" class="logo-ice">
      <svg class="logo-ice-mob" aria-label="logo ice">  
        <use  href="/images/sprite.svg#icon-Logo"></use>
      </svg>
    </a>

<!--nav menu -->

    <div class="header-nav" >
      <ul class="header-nav-list">
        <li class="header-nav-item"><a href="./index.html">Home</a></li>
        <li class="header-nav-item"><a href="#about">How it’s made?</a></li>
        <li class="header-nav-item"><a href="#products">Our products</a></li>
        <li class="header-nav-item"><a href="#contacts">Contact</a></li>
      </ul>
    </div>
  
<!-- button Buy now -->

<div class="header-tablet-bt">
    <button type="button" class="bt-buy-now nav_bt-buy-now bt-buy-now-tablet js-open-modal" data-modal="product-card" aria-label="buttun order"><span >Buy now</span> 
      <svg class="icon-menu-burger" width="12" height="12" aria-label="Switch-on mobile menu">
        <use href="/images/sprite.svg#icon-ep_arrow-right-bold"></use>
      </svg>
    </button>

<!-- button menu-open -->

    <button type="button" class="header-menu-open  js-open-menu">
      <svg class="icon-menu-burger" width="32" height="32" aria-label="Switch-on mobile menu">
          <use href="/images/sprite.svg#icon-menu-burger"></use>
      </svg>
    </button>
</div>
<!-- button menu-close -->


<div class="header-menu  js-menu-container">
  <div class="header-menu_container">
    <button type="button" class="header-menu-closed js-close-menu"  >
      <svg class="icon-menu-burger" width="20" height="20" aria-label="Switch-on mobile menu">
          <use href="/images/sprite.svg#icon-mobile-modal-X"></use>
      </svg>
    </button>

<!---nav menu -->
<!--logo menu-->

    <a href="/src/index.html" class="logo-ice menu-logo ">
      <svg class="logo-ice-mob" aria-label="logo ice">  
        <use href="/images/sprite.svg#icon-Logo"></use>
      </svg>
    </a>

  <div class="menu-nav ">
    <ul class="header-list " >
      <li class="header-menu-item"><a href="./index.html">Home</a></li>
      <li class="header-menu-item " ><a href="#about" class="menu-link-about">How it’s made?</a></li>
      <li class="header-menu-item "><a href="#products" class="menu-link-products">Our products</a></li>
      <li class="header-menu-item item-none"><a href="#contacts" class="menu-link-contacts">Contact</a></li>
    </ul>
  </div>

  <!-- button Buy now -->

    <button type="button" class="bt-buy-now js-open-modal " data-modal="product-card" aria-label="buttun order"><span class="bt-text">Buy now</span> 
      <svg class="icon-menu-burger" width="12" height="12" aria-label="Switch-on mobile menu">
        <use href="/images/sprite.svg#icon-ep_arrow-right-bold"></use>
      </svg>
    </button>
  </div>
</div> 
</div>

<script
defer
src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
crossorigin="anonymous"
></script>

<script src="/src/js/mobile-menu.js"></script>

</header>


